:root {
  --color-yellow: #FFD441;
  --color-yellow-light: #FEDE6F;

  --color-navy: #18316A;
  --color-blue-dark: #5E7BBF;
  --color-blue-light: #A3C5EB;

  --color-black: #1E1D1D;
  --color-white: #FFFFFF;
  --color-cream: #F2F1ED;

  --color-ok: #36f44f;
  --color-warning: #f4db36;
  --color-error: #f44336;
}

[data-theme="light"] {
  --color-bg: var(--color-cream);
  --color-surface: var(--color-white);
  --color-text: var(--color-black);

  --color-primary: var(--color-yellow);
  --color-accent: var(--color-blue-dark);
  --color-border: var(--color-navy);
}

[data-theme="dark"] {
  --color-bg: var(--color-black);
  --color-surface: #2a2928;
  --color-text: var(--color-white);

  --color-primary: var(--color-yellow);
  --color-accent: var(--color-blue-light);
  --color-border: var(--color-blue-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}